*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  color: rgb(44, 10, 236);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
}

.dummy {
  color: white;
}

#header-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 4px solid blueviolet;
  padding: 10px 10px;
  background-color: rgb(245, 205, 245);
  align-items: center;
  margin: 20px 0;
}

#header-sec h1 {
  color: blueviolet;
}

.book-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid  rgb(44, 10, 236);
  width: 100%;
  align-items: center;
  height: auto;
  padding: 5px;
}

.btn-remove {
  margin-left: auto;
}

.title {
  margin-right: 2ch;
}

.author {
  margin-left: 2ch;
}

.nav-container {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-link {
  cursor: pointer;
}

.footer-container {
  padding: 20px;
  border: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.contact {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#list-sec {
  display: block;
  width: 70%;
  margin: auto;
}

#add-sec {
  margin: 20px auto;
  display: none;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  text-align: center;
}

#btn-add {
  width: 100px;
}
